@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-medium: #3BEDB2;

  --neutrals-dark-100: #003330;
  --neutrals-dark-80: rgba(0, 51, 48, 0.80);
}

@layer base {
  /* Allow changing font family via CMS */
  body {
    font-family: 'Public Sans', sans-serif;
    padding-top: 80px;
  }

  .font-secondary {
    font-family: 'IBM Plex Mono', serif;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  .not-br-mobile br {
    display: none;
  }

  .not-br-desktop br {
    display: none;
  }

  @media (min-width: 1280px) {
    .not-br-mobile br{
      display: block;
    }
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}


/* #region Section Header */
.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
  content: " ";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #3BEDB2;
  transform: rotate(0);
  position: absolute;
  transition: left 300ms ease-in-out, top 300ms ease-in-out;
}
 
.hamburger span:before {
  top: -10px;
}

.hamburger span {
  left: 5px;
  top: 19px;
}

.hamburger span:after {
  top: 10px;
}
 
.hamburger.active span {
  transform: rotate(90deg);
  visibility: hidden;
}

.hamburger.active span:before {
  width: 34px;
  top: 0;
  left: -2px;
  transform: rotate(45deg);
  visibility: visible;
}
  
.hamburger.active span:after {
  width: 34px;
  top: 0;
  left: -2px;
  transform: rotate(-45deg);
  visibility: visible;
}
/* #endregion Section Header */


/* #region Banner */
@keyframes slide-up {
  0% {
    top: 100%;
    opacity: 0;
  }
  10% {
    top: 0;
    opacity: 1;
  }
  30% {
    top: 0;
    opacity: 1;
  }
  40% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

.text-slide {
  position: absolute;
  top: 100%;
  width: 100%;
  opacity: 0;
  animation: slide-up 9s infinite;
}

.text-slide:nth-child(1) {
  animation-delay: 0s;
}

.text-slide:nth-child(2) {
  animation-delay: 3s;
}

.text-slide:nth-child(3) {
  animation-delay: 6s;
}
/* #endregion Banner */


/* #region Title Page */
.title-page {}

.title-page h2 strong {
  color: var(--primary-medium);
  font-weight: inherit;
}
/* Title Page */


/* #region Section Gallery */
.horizontal-scroll {
  display: flex; /* Flexbox ensures horizontal layout */
  overflow-x: auto; /* Enables horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  gap: 1rem; /* Optional: space between items */
}

/* Hiding scrollbar */
.horizontal-scroll::-webkit-scrollbar {
  width: 0px; /* Hides the scrollbar */
  height: 0px; /* Hides the scrollbar */
}

/* Optional: Customizing scrollbar track */
.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

/* Optional: Customizing scrollbar thumb */
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: transparent; /* Makes the thumb invisible */
}
/* #endregion Section Gallery */


/* #region BodyContent.tsx */
.body-content h2 {
  color: var(--neutrals-dark-100);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.56px;
  line-height: 115%;
  margin-bottom: 40px; 
}

.body-content p {
  color: var(--neutrals-dark-80);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 40px;
}

.body-content h3 {
  color: var(--neutrals-dark-100);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  line-height: 115%;
  margin-bottom: 40px;
}

.body-content span{
  color: var(--neutrals-dark-100);
  display: block;
  font-size: 72px;
  font-weight: 100;
  line-height: 100%;
  letter-spacing: -1.44px;
  margin-bottom: 18px;
}

.body-content ul {
  list-style: inside;
}

.body-content ul li {
  color: var(--neutrals-dark-80);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

@media (min-width: 1280px) {
  .body-content h2 {
    font-size: 48px;
    letter-spacing: -0.96px;
    margin-bottom: 64px;
  }

  .body-content h3 {
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: 115%;
    margin-bottom: 64px;
  }

  .body-content p {
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 64px;
  }

  .body-content span{
    font-size: 110px;
    letter-spacing: -2.2px;
  }

  .body-content ul li {
    font-size: 18px;
    line-height: 150%;
  }
}
/* #endregion BodyContent.tsx */